[flake8]
max-line-length = 150
per-file-ignores =
    play.py:*
    data_downloader.py:E501
    xbacktesting/x_optimizer.py:E501
    abmacd/abmacd_v2.py:E501
    abmacd/strategy_model/riskctl_model/stop_loss.py:E501